@import "../../constants/functions";

.wrapper {
  @include col;
  align-items: center;
  font-size: 15px;
}
.leftRightWrapper {
  @include col;
  justify-content: space-evenly;
  //background-color: #FFFFFF;
  width: 900px;
  max-width: 100%;
  @include borderRadius(10px)
}
.flex1 {
  flex: 1;
}
.nameAndLastNameWrapper {
  @include row;
}
.title {
  text-align: center;
  direction: ltr;
}
.changeType {
  display: inline-block;
}
.changeTypeWrapper {
  text-align: left;
  margin-top: 10px;
}
.formWrapper {
  padding: 10px;
  background-color: #FFFFFF;
  width: 600px;
  max-width: 100%;
  @include borderRadius(10px)
}
@media (max-width: 600px) {
  .formWrapper {
    width: calc(100% - 30px);
  }
  .nameAndLastNameWrapper {
    @include col;
  }
}
