@import "../../constants/functions";
.wrapper {
  width: auto;
  height: auto;
  display: block;
  border: 5px solid #FFFFFF;
  background: #FFFFFF;
  @include borderRadius(15px);
  margin: 5px;
}
.wrapper, .wrapper * {
  @include noUserSelect;
}
.photo {
  width: 270px;
  height: 200px;
  position: relative;
  @include borderRadius(15px 15px 0 0);
  background-color: #FFFFFF;
  @include borderRadius(10px);
  @include bgSize(cover);
}
.title {
  margin-top: 5px;
  font-weight: bold;
  text-align: left;
  direction: ltr;
  margin-bottom: 20px;
}
.time, .price {
  margin-top: 5px;
  text-align: left;
  direction: ltr;
}
